{
	"identifier" = "oolite.oxp.cim.systemfeatures.sunspots";
	"required_oolite_version" = "1.79";
	"title" = "System Features: Sunspots";
	"version" = "1.5";
	"category" = "Ambience";
	"description" = "Adds occasional sunspots to stars. Requires a shader-capable graphics card.";
	"download_url" = "http://compsoc.dur.ac.uk/~cim/oolite/System_Features_Sunspots.1.5.oxz";
	"author" = "cim";
	"information_url" = "http://wiki.alioth.net/index.php/System_Features_Sunspots";
	"license" = "CC-BY-SA 3.0";
}